body
{
	background-color: gray;
	font-family: Verdana;
	font-size: 20px;
	color: white;
}

h1
{
	font-size: 48px;
	color: red !important;
}

/* Nieodwiedzone hiperłącze */

a:link
{
	color: yellow;
}

/* Odwiedzone hiperłącze */

a:visited
{
	color: yellow;
}

/* Link po najechaniu kursorem */

a:hover
{
	color: red;
}